<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
    <h1>Edit Listing</h1><br>
    <h3>ID: <%= listings.id %></h3><br>
    <form method="post" action="/listings/<%= listings.id %>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="listings[title]" class="form-label">Title:</label>
            <input type="text" class="form-control" name="listings[title]" value="<%= listings.title %>" required>
            <div class="invalid-feedback">Please Enter Valid Title</div>
            <div class="valid-feedback">Title looks good!</div>
            <br>
        </div>
        <div class="mb-3">
            <label for="listings[description]" class="form-label">Description:</label>
            <textarea name="listings[description]" class="form-control"  cols="30" rows="3" required><%= listings.description %></textarea>
            <div class="invalid-feedback">Please Enter Valid Description</div>
            <br>
        </div>
        <div class="mb-3">
            <label for="listings[image]" class="form-label">Image:</label>
            <input type="text" name="listings[image]" class="form-control" value="<%= listings.image %>">
            <br>
        </div>
        <div class="row">
            <div class="mb-3 col-4">
                <label for="listings[price]" class="form-label">Price:</label>
                <input type="text" name="listings[price]" class="form-control" value="<%= listings.price %>" required>
                <div class="invalid-feedback">Please Enter Valid Price</div>
                <br>
            </div>
            <div class="mb-3 col-8">
                <label for="listings[location]" class="form-label">Location:</label>
                <input type="text" name="listings[location]" class="form-control" value="<%= listings.location %>" required>
                <div class="invalid-feedback">Please Enter Valid Location</div>
                <br>
            </div>
        </div>
       
        <div class="mb-3">
            <label for="listings[country]" class="form-label">Country:</label>
            <input type="text" name="listings[country]" class="form-control" value="<%= listings.country %>" required>
            <div class="invalid-feedback">Please Enter Valid Country</div>
            <br>
        </div>
        
        <button class="btn btn-dark add-btn mt-3">Edit</button>
        <br><br>
    </form>
</div>
</div>
</body>