<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h1>All Listings</h1>

    <!-- <form method="GET" action="/listings/new">
        <button>Create Listings</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(list of listings){ %>
            <a href="listings/<%= list.id %>" class="listing-link">
                <div class="card col-12 ">
                    <img src="<%= list.image %>" class="card-img-top" style="height: 20rem;" alt="listing image">
                    <div class="card-img-overlay">Wanderlust</div>
                    <div class="card-body">
                        <h5 class="card-title"><b><%= list.title %></b></h5>
                        <p class="card-text">₹<%=list.price.toLocaleString("en-IN") %> / night</p>
                        <!-- <a href="listings/<%= list.id %>" class="btn btn-primary">View Listing</a> -->
                    </div>
                </div>
            </a>
            
        <% } %>

    </div>
    
    <!-- <% for(list of listings){ %>
        <ul>
            <li><a href="listings/<%= list.id %>"><%= list.title %></a></li>
        </ul>
    <% } %> -->

</body>
