<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listing Details</h1>
        <ul>
            <li><%= listings.title %></li>
            <li><%= listings.description %></li>
            <li>₹<%= listings.price.toLocaleString("en-IN") %>/- </li>
            <li><%= listings.location %></li>
            <li><%= listings.country %></li>
        </ul>
</body>
</html>