<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Listing Details</h1>
        <ul>
            <li><%= listings.title %></li>
            <li><%= listings.description %></li>
            <li>₹<%= listings.price.toLocaleString("en-IN") %>/- </li>
            <li><%= listings.location %></li>
            <li><%= listings.country %></li>
        </ul>
        <form method="get" action="/listings/<%=listings.id%>/edit">
            <button>Edit Listing</button>
        </form><br>
        <form method="post" action="/listings/<%=listings.id%>?_method=DELETE">
            <button>Delete Listing</button>
        </form>
</body>